### OS ###
.DS_Store

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# We DO NOT ignore .mvn/wrapper/maven-wrapper.properties
# But we DO ignore the downloaded jar
.mvn/wrapper/maven-wrapper.jar

### IDEs ###
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/

### Logs ###
*.log

### TLS / Security ###
*.key
*.crt
*.pem
k8s/secrets.yaml

### Custom Project Files ###
payment-processing-assignment/*
Plan.md